.sidebar {
    background-color: #135776;
    color: white;
    width: 250px;
    height: 100vh; /* Full height of the viewport */
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-logo {
    width: 150px;
    margin-top: 20px;
    padding-left: 15px;
}

.sidebar-icon {
    width: 40px;
    padding-right: 20px;
}

.sidebar-nav {
    list-style: none;
    padding: 18;
    margin-top: 260px;
}

.sidebar-nav li {
    margin: 15px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-nav li.selected {
    font-weight: bold;
    color:aqua
}

.tick-icon {
    margin-left: -30px;
    margin-right: 10px;
    width: 20px;
}
